# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# Simulator / misc
.DS_Store
*.xccheckout
*.xcresult
